<div class="bg">
	<div class="centered-bg">
		<h2>Get & Send emails via your SMS Inbox without Wifi</h2>
		<%= form_for :user, :url => '/create_unverified_user', :html => {:class => 'big-form', :id => 'create_unverified_user_form'} do |u| %>
			<label class='text-muted big-label'>Phone Number</label>
			<div class="phone-num-section"> 
				<%= u.text_field :phone_number, :class => 'big-input', :placeholder => '+16458239098' %> 
			</div>
			<div class="submit-section">
				<%= u.submit :class=> 'btn btn-primary big-button', :value => 'Connect to Gmail' %>
			</div>
		<% end %>
	</div>
</div>
<div id="modal">
	<h2>Thank you for Registering!</h2>
	<p>Just two more steps:</p>
	<div style="text-align: left; width:75%; margin: auto; display: block;">
		<div>1. Enter the verification code we just sent you (could take one minute)</div>
		<div>2. Re-direct to google oauth services</div>
	</div>
	<form>
		<label class="" for="verification_code_input">Enter Verification Code:</label>
		<div id="timer"></div> <!-- Start the count down from 120 1s after the modal shows -->
		<i class="fa fa-spinner spinner"></i>
		<div>
			<input type="text" name="verification_code" id="verification_code_input"></input>
		</div>
		<div style="margin-top: 5px;">
			<input class="btn btn-primary" type="submit">
		</div>
	</form>
</div>