// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html 
{
	height: 100%;
	width: 100%;
}

body
{
	height: 100%;
	width: 100%;
}

.bg
{
	width: 100%;
	height: 100%;
	background-image: url('bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: white;
	display: table;
}

.centered-bg
{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	text-align: center;
	color: white;
}

.big-form
{
	max-width: 400px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.submit-section
{
	width: 100%;
	margin-top: 10px;
}

.phone-num-section
{
	width: 100%;
}

.big-input 
{
	width: 100%;
	height: 48px;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.9);
	color: black;
	padding: 10px;
}

input {
	color: black;
}

.big-label
{
	margin-top: 20px;
	font-size: 18px;
}

.big-button
{
	width: 100%;
	background: linear-gradient(to bottom, #76d926, #6ac322);
	height: 50px;
	font-weight: 700;
	font-size: 20px;
}

.spinner {
	-webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

#overlay {
    width:100%;
    height:100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0,0.7);
    visibility: hidden;
}

#modal {
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-height: 100px;
    max-height: 90%;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    background: rgba(255,255,255,1);
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: -6px 6px 6px 0px rgba(0,0,0,0.5);
}