<!DOCTYPE html>
<html>
<head>
  <title>Dodo</title>
  <link href="http://bootswatch.com/yeti/bootstrap.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="overlay"></div>
<%= yield %>

</body>
</html>
