<!DOCTYPE html>
<html>
<head>
  <title>Dodo</title>
  <link href="http://bootswatch.com/yeti/bootstrap.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
